@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
}
/* .container{
 padding :3rem;
} */
/*          header         */
header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "accImg accName accbutton accSetting"
    "accImg accDetails accDetails accDetails"
    "accImg accIntro accIntro accIntro";
  gap: 0.2rem 1rem;
  margin:0 auto;
  justify-content: center;
  padding: 0rem 1rem;
}
header > * {
  margin: 0;
  align-self: center;
}
header img {
  grid-area: accImg;
  width: 100%;
  clip-path: circle(36%);
}
header h2 {
  grid-area: accName;
}
header button {
  grid-area: accbutton;
  padding: 0.2rem;
  border: 1px solid #3a3a3a2b;
  border-radius: 2px;
  background: transparent;
  font-weight: bold;
}
header i {
  grid-area: accSetting;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  grid-area: accDetails;
}
header p {
  grid-area: accIntro;
  font-size: 1rem;
}
/*          main         */
main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
gap:1rem;
justify-content: center;
padding:1rem 0;
}
main img{
    width: 100%;
    height: 100%;
}
main div{
  position: relative;
}
main div:hover .overlay{
  z-index: 1;
}
main div:hover .album, main div:hover .video{
  z-index:-2;
}
.overlay{
  background-color: black;
  z-index: -1;
  opacity: 0.7;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.overlay svg{
  margin-right:1rem;
  font-size:2.5rem;
  color:white;
  font-weight:bold;
}
.album, .video {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 2rem;
  color: white;

}
.album{
  transform: rotate(630deg);
}
/* Media Quires*/

@media screen and (max-width: 770px) {
  header {
    grid-template-areas:
      "accImg accName accName accSetting"
      "accImg accbutton accbutton accbutton"
      "accIntro accIntro accIntro accIntro"
      "accDetails accDetails accDetails accDetails";
    row-gap: 1rem;
  }
  header ul {
    border-top: 1px solid #3a3a3a1a;
    border-bottom: 1px solid #3a3a3a1a;
    padding: 0.7rem 0;
  }
}
@media screen and (min-width: 771px) {
  header ul {
    display: flex;
    width: 50vh;
    justify-content: space-between;
  }
}
